body {
    background-color: rgb(222, 225, 229);
    font-family: Montserrat;
}

.search {
    border-bottom: 1px solid #bbbbbc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
    padding: 35px 0;
}

.input-search {
    width: 320px;
    border-radius: 7px;
    border: 1px solid #808080;
    outline: transparent;
    padding: 10px 16px;
}

.input-search:focus {
    border-color: #2a3a75;
}

.btn-search {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #5c5e65;
    border: transparent;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 25px;
    margin-left: -10px;
}

.btn-search:hover {
    background-color: #818696;
}

.loader {
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: 40vh auto 0;
    position: relative;
    color: #FFF;
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #FFF;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
}

.loader::before {
    animation-delay: 0.4s;
    left: 60px;
}



.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
    padding: 32px 0;
}

.gallery-item {
    list-style: none;
    margin: 10px;
    transition: transform .3s;
    border-radius: 10px;
    overflow: hidden;
    /* Скрыть часть изображения, выходящую за рамки */
}

.gallery-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: scale(1.05);
}

.gallery-link {
    max-width: 320px;
    flex-basis: calc((100% - 60px) / 4);
  
}

.gallery-image {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.thumb-block {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}



.block {
    text-align: center;
}

.title,
.amount {
    list-style: none;
    /* Убираем маркеры */
    margin: 0;
    /* Убираем отступы */
    padding: 0;
    /* Убираем отступы */
}

.title {
    color: #212127;
    font-family: Montserrat;
    font-size: 12px;
 padding-bottom: 5px;
    font-weight: 700;
    line-height: 1.2;

}

.amount {
    color: #212127;
    font-family: Montserrat;
    font-size: 12px;

    line-height: 1.2;
    /* Уменьшить межстрочный интервал */
}